@model UserProfileandPosts
@if (Model == null)
{
    <h2>
        @ViewData["Error"]
    </h2>
}
else
{
    <section class="gradient-custom-2 justify-content-center">
        <div class="container m-2 p-4 justify-content-center">
            <div class="row d-flex justify-content-center align-items-center" style="margin-right:300px;">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card">
                        <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                            <div class="ms-4 mt-2 d-flex flex-column" style="width: 150px;">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                     alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                     style="width: 150px; z-index: 1">
                            </div>
                            <div class="ms-3" style="margin-top: 75px;">
                                <h5>@Model.UserProfile.Name</h5>
                                <p>@Model.UserProfile.Pronouns</p>
                                <p>@Model.UserProfile.BirthDay</p>
                            </div>
                        </div>
                        @* <div class="p-4 text-black" style="background-color: #f8f9fa;">
                            <div class="d-flex justify-content-end text-center py-1">
                                <div>
                                    <p class="mb-1 h5">253</p>
                                    <p class="small text-muted mb-0">Photos</p>
                                </div>
                                <div class="px-3">
                                    <p class="mb-1 h5">1026</p>
                                    <p class="small text-muted mb-0">Followers</p>
                                </div>
                                <div>
                                    <p class="mb-1 h5">478</p>
                                    <p class="small text-muted mb-0">Following</p>
                                </div>
                            </div>
                        </div> *@
                        <div class="card-body p-4 text-black">
                            <div class="mb-5">
                                <p class="lead fw-normal mb-1">Bio</p>
                                <div class="p-4" style="background-color: #f8f9fa;">
                                    <p class="font-italic mb-1">@Model.UserProfile.Bio</p>
                                </div>
                            </div>



                            <!--Posts-->
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0">Recent Posts</p>
                                @foreach (Post p in Model.PostsForUser)
                                {
                                    <partial name="~/Views/Post/_PostPartialView.cshtml" for="@p" />
                                    <a asp-action="EditPost" asp-controller="Post" asp-route-id="@p.PostId" class="btn btn-success"><i class="bi bi-pencil-square">Edit Post</i></a>
                                    <a asp-action="DeletePost" asp-controller="Post" asp-route-id="@p.PostId" class="btn btn-danger"><i class="bi bi-pencil-square">Delete Post</i></a>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}