@model UserProfileandPosts
@{
    ViewData["Title"] = Model.UserProfile.Name;
}
@if(Model == null)
{
    <h2>
        @ViewData["Error"]
    </h2>
}
else
{
    <section class="gradient-custom-2" style="height:fit-content;">
        <div class="container justify-content-center" style="height:fit-content;">
            <div class="row d-flex justify-content-center align-items-center" style="height:fit-content;">
                <div class="col col-lg-9 col-xl-7" style="height:fit-content;">
                    <div class="rounded-top card text-white" style="width:650px; background-color:#444;">
                        <div class="rounded-top d-flex flex-row" style="background-color: #000; height:200px;">
                            <div class="ms-4 mt-2 d-flex flex-column" style="width: 150px;">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                     alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                     style="width: 150px; z-index: 1">
                                                                
                            </div>
                            <div class="ms-3" style="margin-top: 75px;">
                                <h5>@Model.UserProfile.Name</h5>
                                <p>@Model.UserProfile.Pronouns</p>
                                <p>@Model.UserProfile.BirthDay</p>
                            </div>
                        </div>
                        <!--Regular Body Content-->
                        <div class="card-body px-4 text-black container justify-content-center align-content-center">
                            <div class="mb-2 row">
                                <div class="row container mb-3">
                                    <div class="row">
                                        <h3 class="m-1 lead fw-normal mb-1 col col-lg text-light">Bio</h3>
                                        <a class="btn btn-outline-light mx-2 col-md-auto" data-mdb-ripple-color="dark" style="z-index: 1; width:50px;" asp-action="EditProfile" asp-controller="Profile" asp-area="" asp-route-id="@Model.UserProfile.Id">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                        <div class="px-4 m-2 row">
                                            <p class="font-italic mb-1 text-light">@Model.UserProfile.Bio</p>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="px-3 mt-3 row">
                                    <a class="text-light m-1" asp-action="ViewAllUploads" asp-controller="Upload" asp-area="">See Saved Uploads</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body px-4 text-black container justify-content-center align-content-center">
                            <!--Uploads-->
                            <div class="container container-fluid justify-content-center align-content-center p-3 my-2">
                                <h3 class="row lead fw-normal text-light">Uploads</h3>
                                <div class="row container container-fluid d-flex justify-content-center align-content-center" style="height:fit-content;">
                                    @if (Model.UploadsFromUser == null)
                                    {
                                        <p class="text-light">No uploads from user</p>
                                    }
                                    else
                                    {
                                        <div class="row p-3" style="height:600px; width:fit-content;">
                                            <!--Carousel-->
                                            <div id="carouselExampleControls" class="carousel slide justify-content-center" data-bs-ride="carousel" style="width:750px; height:500px;">
                                                <div class="carousel-inner">
                                                    @if (Model.UploadsFromUser == null)
                                                    {
                                                        <p class="text-light">No new images!</p>
                                                    }
                                                    else
                                                    {
                                                        @foreach (Upload p in Model.UploadsFromUser)
                                                        {
                                                            @if (Model.UploadsFromUser.FirstOrDefault() == p)
                                                            {
                                                                <div class="carousel-item active">
                                                                    <partial name="~/Views/Upload/_UploadPartialView.cshtml" for="@p" />
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="carousel-item">
                                                                    <partial name="~/Views/Upload/_UploadPartialView.cshtml" for="@p" />
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                </div>
                                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-body px-4 text-black container justify-content-center align-content-center">
                            <!--Posts-->
                            <div class="container justify-content-center align-content-center p-3 rounded">
                                <p class="row lead fw-normal mb-2 text-light">Recent Posts</p>
                                <div class="row container d-flex justify-content-center align-content-center">
                                    @if (Model.PostsForUser == null)
                                    {
                                        <p class="text-light">User made no posts</p>
                                    }
                                    else
                                    {
                                        @foreach (Post p in Model.PostsForUser)
                                        {
                                            <div class="row my-2 container justify-content-center align-content-center">
                                                <!--Profile Info Section-->
                                                <div class="card bg-dark" style="width: fit-content">
                                                    <div class="card-body">
                                                        <h5 class="card-title mb-2 text-light">@Model.UserProfile.Name</h5>
                                                        <!--Post content section-->
                                                        <partial name="~/Views/Post/_PostPartialView.cshtml" for="@p" class="row p-2" />
                                                    </div>
                                                    <div class="card-body">
                                                        <!--Comment Section-->
                                                        <div class="row border-top p-2">
                                                            <div class="container row m-2">
                                                                <form asp-action="AddComment" asp-controller="Comment" asp-area="" method="post" asp-route-id="@p.Id">
                                                                    <p class="row text-light">Add Comment</p>
                                                                    <div class="row">
                                                                        <input class="col rounded-pill" type="text" asp-for=@Model.UserComment.message placeholder="Write a comment..." disabled />
                                                                        <button class="col col-md-auto rounded-circle" style="width:fit-content;" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-send-arrow-up"></i></button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Work In Progress</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                This is in the works come back later!
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}