@using System.Security.Claims;
@model Post
@if (Model == null)
{
    <h2></h2>
}
else
{
    if (User.FindFirst(ClaimTypes.NameIdentifier)?.Value == Model.UserId)
    {
        <div class="card-subtitle mb-2 text-muted">
            <!-- Default dropright button -->
            <div class="btn-group col col-md-auto text-light">
                <button class="btn btn-sm btn-outline-light dropdown-toggle dropdown rounded-pill" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-dark">
                    <a class="dropdown-item text-light" asp-action="EditPost" asp-controller="Post" asp-route-id="@Model.Id">Edit <i class="bi bi-pencil-square"></i></a>
                    <a class="dropdown-item text-light" asp-action="DeletePost" asp-controller="Post" asp-route-id="@Model.Id">Delete <i class="bi bi-trash3"></i></a>
                </div>
            </div>
        </div>
        <div class="card-body container-fluid text-light" style="width:fit-content">
            <div class="container" style="width:fit-content;">
                <div class="col justify-content-center" style="width:fit-content;">
                    @if (Model.Message != null)
                    {
                        <p style="width:fit-content;" class="mb-4 row text-light">@Model.Message</p>
                    }
                    <img src="@Model.ImageUrl" alt="Image Not Loaded Properly" style="width: 350px;" class="row img-set-size" />
                </div>
            </div>
        </div>
    } else
    {
        <div class="card-body container-fluid text-light" style="width:fit-content">
            <div class="container" style="width:fit-content;">
                <div class="col justify-content-center" style="width:fit-content;">
                    @if (Model.Message != null)
                    {
                        <p style="width:fit-content;" class="mb-4 row text-light">@Model.Message</p>
                    }
                    <img src="@Model.ImageUrl" alt="Image Not Loaded Properly" style="width: 350px;" class="row img-set-size" />
                </div>
            </div>
        </div>
    }

    
    
}