@using System.Security.Claims;
@model UserProfileandPosts
@{
    ViewData["Title"] = "Dashboard";


    
}

<section class="gradient-custom-2" style="height:fit-content;">
    <div class="container justify-content-center" style="height:fit-content;">
        <div class="row d-flex justify-content-center align-items-center" style="height:fit-content;">
            <div class="col col-lg-9 col-xl-7" style="height:fit-content;">
                <div class="rounded-top card text-white" style="width:650px; background-color:#444;">
                    <div class="card-body px-4 text-black container justify-content-center align-content-center">
                        <!--Uploads-->
                        <div class="container container-fluid justify-content-center align-content-center p-3 my-2">
                            <h3 class="row lead fw-normal text-light">Uploads</h3>
                            <div class="row container container-fluid d-flex justify-content-center align-content-center" style="height:fit-content;">
                                @if (Model.UploadsFromUser == null)
                                {
                                    <p class="text-light">No uploads from user</p>
                                }
                                else
                                {
                                    <div class="row p-3" style="height:600px; width:fit-content;">
                                        <!--Carousel-->
                                        <div id="carouselExampleControls" class="carousel slide justify-content-center" data-bs-ride="carousel" style="width:750px; height:500px;">
                                            <div class="carousel-inner">
                                                @if (Model.UploadsFromUser == null)
                                                {
                                                    <p class="text-light">No new images!</p>
                                                }
                                                else
                                                {
                                                    @foreach (Upload ps in Model.UploadsFromUser)
                                                    {
                                                        @if (Model.UploadsFromUser.FirstOrDefault() == ps)
                                                        {
                                                            <div class="carousel-item active">
                                                                <div class="card bg-dark justify-content-center align-content-center d-block m-auto" style="height:575px; width:auto;">
                                                                    <partial name="~/Views/Upload/_UploadPartialView.cshtml" for="@ps" />
                                                                    <div class="card-body container justify-content-center align-content-center" style="height:fit-content">
                                                                        <div class="row">
                                                                            <div class="mx-auto">
                                                                                @if (User.FindFirst(ClaimTypes.NameIdentifier)?.Value == ps.UserID)
                                                                                {                                                                                
                                                                                    <a title="Remove Upload" class="col col-md-2 btn btn-outline-danger mx-2" style="width:fit-content;" asp-action="DeleteUpload" asp-controller="Upload" asp-route-id="@ps.UploadId"><i class="bi bi-trash3"></i></a>
                                                                                }

                                                                                @if (Model.SavesForUser.Where(x => x.UserId == ps.UserID).Where(x => x.UploadId == ps.UploadId).FirstOrDefault() != null)
                                                                                {
                                                                                    <a title="Unsave Post" class="col col-md-2 btn btn-outline-success mx-2" style="width:fit-content;" asp-action="RemoveSavedUpload" asp-controller="SaveUploadToUser" asp-route-id="@ps.UploadId"><i class="bi bi-bookmark-plus-fill"></i></a>
                                                                                }
                                                                                else 
                                                                                {
                                                                                    <a title="Save Post" class="col col-md-2 btn btn-outline-success mx-2" style="width:fit-content;" asp-action="SaveUpload" asp-controller="SaveUploadToUser" asp-route-id="@ps.UploadId"><i class="bi bi-bookmark-plus"></i></a>
                                                                                }
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="carousel-item">
                                                                <div class="card bg-dark justify-content-center align-content-center d-block m-auto" style="height:575px; width:auto;">
                                                                    <partial name="~/Views/Upload/_UploadPartialView.cshtml" for="@ps" />
                                                                    <div class="card-body container justify-content-center align-content-center" style="height:fit-content">
                                                                        <div class="row">
                                                                            <div class="mx-auto">
                                                                                @if (User.FindFirst(ClaimTypes.NameIdentifier)?.Value == ps.UserID)
                                                                                {
                                                                                    <a title="Remove Upload" class="col col-md-2 btn btn-outline-danger mx-2" style="width:fit-content;" asp-action="DeleteUpload" asp-controller="Upload" asp-route-id="@ps.UploadId"><i class="bi bi-trash3"></i></a>
                                                                                }

                                                                                @if (Model.SavesForUser.Where(x => x.UserId == ps.UserID).Where(x => x.UploadId == ps.UploadId).FirstOrDefault() != null)
                                                                                {
                                                                                    <a title="Unsave Post" class="col col-md-2 btn btn-outline-success mx-2" style="width:fit-content;" asp-action="RemoveSavedUpload" asp-controller="SaveUploadToUser" asp-route-id="@ps.UploadId"><i class="bi bi-bookmark-plus-fill"></i></a>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <a title="Save Post" class="col col-md-2 btn btn-outline-success mx-2" style="width:fit-content;" asp-action="SaveUpload" asp-controller="SaveUploadToUser" asp-route-id="@ps.UploadId"><i class="bi bi-bookmark-plus"></i></a>
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                }
                                            </div>
                                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-4 text-black container justify-content-center align-content-center">
                        <!--Posts-->
                        <div class="container justify-content-center align-content-center p-3 rounded">
                            <p class="row lead fw-normal mb-2 text-light">Recent Posts</p>
                            <div class="row container d-flex justify-content-center align-content-center">
                                @if (Model.PostsForUser == null)
                                {
                                    <p class="text-light">User made no posts</p>
                                }
                                else
                                {
                                    @foreach (Post p in Model.PostsForUser)
                                    {
                                        <div class="row my-2 container justify-content-center align-content-center">
                                            <!--Profile Info Section-->
                                            <div class="card bg-dark" style="width: fit-content">
                                                <div class="card-body">
                                                    <!--Post content section-->
                                                    <partial name="~/Views/Post/_PostPartialView.cshtml" for="@p" class="row p-2" />
                                                </div>
                                                <div class="card-body">
                                                    <!--Comment Section-->
                                                    <div class="row border-top p-2">
                                                        <div class="container row m-2">
                                                            <form asp-action="AddComment" asp-controller="Comment" asp-area="" method="post" asp-route-id="@p.Id">
                                                                <p class="row text-light">Add Comment</p>
                                                                <div class="row">
                                                                    <input class="col rounded-pill" type="text" asp-for=@Model.UserComment.message placeholder="Write a comment..." disabled />
                                                                    <button class="col col-md-auto rounded-circle" style="width:fit-content;" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-send-arrow-up"></i></button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Work In Progress</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            This is in the works come back later!
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
